body {
  overflow: scroll;
}

.toolbar {
  background-color: #fff159;
  width: 100vw;
  height: 12vh;
  border-bottom: 1px solid grey;

  .logoLivre {
    width: 90px;
    display: flex;
    margin-left: 25rem;
    margin-bottom: 3rem;
  }
  .icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 20px;
    height: 20px;
    margin-bottom: 3rem;
    margin-left: 3rem;
  }
  .pesquisar {
    width: 550px;
    height: 20px;
    padding: 10px;
    border-radius: 5px;
    outline: 0;
    border: none;
    font-size: 1.2rem;
  }

  .lupa {
    width: 1rem;
    position: absolute;
    margin-left: 12rem;
    border-left: 1px solid rgb(94, 86, 86);
    padding-left: 1rem;
  }
  .imgOferta {
    width: 1.5rem;
    margin-left: 5rem;
  }
  .oferta {
    font-size: 1rem;
    margin-top: 1rem;
  }
  .enviar {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    margin-left: 24.5rem;
    margin-top: 3rem;
  }
  .enviar img {
    width: 40px;
    height: 40px;
    margin-top: 0.5rem;
  }
  .textoHeader {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
  }
  .buttonEscolha {
    width: 5rem;
    height: 1.5rem;
    background-color: #fff159;
    border: none;
    margin-top: 1.9rem;
    margin-left: 1rem;
    transition: 1s;

    &:hover {
      scale: 1.1;
    }
  }
  .links {
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1.75rem;
    margin-left: 0.5rem;
    transition: 1s;

    .link {
      color: inherit;
      text-decoration: none;
    }

    .imgUtilizador {
      width: 2rem;
      height: 2rem;
      margin-top: -0.2rem;
      margin-left: 5rem;
      transition: 1s;

      &:hover {
        scale: 1.5;
      }
    }
    .user {
      margin-top: -0.2rem;
    }
    .buttonEscolha2 {
      width: 5rem;
      height: 1.5rem;
      background-color: #fff159;
      border: none;
      margin-top: 0.3rem;
      padding-right: 2.9rem;
      transition: 1s;
      padding-left: 1rem;

      &:hover {
        scale: 1.1;
      }
    }
    .compras {
      display: flex;
    }
    .favoritos {
      display: flex;
      margin-right: 1rem;
    }
  }
}

.example-container {
  height: 100vh;
  
}
.teste {
  background-color: #ffffff;
  width: 12vw;
  border-right: 2px solid grey;

  .menuLateral {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5rem;
    margin-left: 1.1rem;
    font-size: 1.3rem;
    gap: 1rem;
  }
  .iconesCompras {
    display: flex;
    justify-content: flex-start;
    margin-top: 1.5rem;
    margin-left: 1.1rem;
    font-size: 0.8rem;
    gap: 1rem;
  }
}
.teste2 {
  background-color: #e7e7e7;

  .caixa {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: white;
    width: 35rem;
    height: 5rem;
    margin-left: 28rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 12rem;
    
  }
  .personIcon {
    transform: scale(2);
  }
 
  }
  .caixa2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    width: 35rem;
    margin-left: 28rem;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    padding-right: 12rem;
  }
  .li1 {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .li2 {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
  }
  .spans {
    // padding-right: 9rem;
    margin-left: 1.5rem;
    display: flex;
    flex-direction: column;
  }
  .iconMaior {
    display: flex;
    position: absolute;
    right: 1rem;
    
  }
  .matDivider {
    display: flex;
    width: 29rem;
    margin-bottom: 2rem;
  }
  .IconesMenuDados {
    transform: scale(2);
    color: #3483fa;
  }

